.reveal section img {
  border: 0px;
  box-shadow: none;
  max-height: 300px;
  background: none;
}

.reveal .center {
  text-align: center;
}
.reveal h1, .reveal h2, .reveal h3 {
  font-weight: bold;
  text-transform: none;
}
